@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

.project-list {
	list-style: none;
}

.project-list li {
	margin-bottom: 5px;
}

.container {
	padding-top: 7.5vh;

	margin: 0 auto;

	padding-left: 25px;
	padding-right: 25px;
}

.intro {
	margin: 0 auto;

	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;

	text-align: left;

	line-height: 35px;

	color: black;

	width: auto;
}

@media (min-width: 801px) {
	.intro {
		width: 50% !important;
		font-size: 24px;
	}

	.contact ul li{
		display: inline;

		padding-right: 9% !important;
	}

	.small > a {
		font-size: 20px !important;
	}
}


@media (min-width: 320px) {
	.small {
		font-size: 16px !important;
	}
}

.good {
	color: rgb(41, 128, 185);

	font-weight: bold;

	cursor: pointer;
}

.special {
	/*font-family: 'Pacifico', sans-serif;*/
	color: #fff;
	font-weight: bold;

	background: rgb(41, 128, 185);

	padding-left: 7.5px;
	padding-right: 7.5px;

	height: auto !important;

	cursor: pointer;
}

a {
	color: #3B5998;
	border-bottom-color: rgb(41, 128, 185);
	border-bottom-style: dotted;
	border-bottom-width: 1px;

	text-decoration: none;
}

a:hover {
	border-bottom-style: solid;
}

.contact {
	width: auto;

	text-align: center;
}

.contact ul {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}

.contact ul li {
	display: inline;

	padding-right: 9%;
}

.small {
	padding-right: 3% !important;
}

.small > a {
	font-size: 15px;
}

.projects {
	width: auto;

	padding-top: 18.75px;
}

.projects ul {
	margin: 0;
	padding: 0;
	list-style-type: none;

	line-height: 36px;
}

.projects ul li {
	font-size: 16px;
}

.projects ul li a {
	color: rgba(41, 128, 185, 0.75);

	border-bottom-color: none;
	border-bottom-style: none;
	border-bottom-width: none;

}

.projects ul li a:hover {
	color: rgba(41, 128, 185, 1);
}

.dark{
	background-color: rgb(30, 30, 30);
	color: white !important;
}

.middle {
	margin:0 auto;
}

/* Zoom image */

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}